.container {
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
}

.filters {
    width: 25vw;
}

.content {
    width: 75vw;
}

.header {
    padding: 1rem;
    margin: 0.5rem auto;
    box-shadow: 0 4px 2px -2px gray;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: gray;
    padding: 3rem 0;
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    .filters {
        width: 100vw;
    }
    
    .content {
        width: 100vw;
    }

    .header {
        font-size: 0.8rem;
    }
}